<div class="wrapper">
  <div class="header">
    <h5>STATISTICS</h5>
  </div>
  <div class="content">
    <div class="row">
      <div class="col l6 m6 s6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/cart-1.svg%25403x.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">NEW SALES</p>
              <br>
              <p class="grey-text text-darken-2">7654663</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/avatar-4.svg%25404x.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">NEW MEMBERS</p>
              <br>
              <p class="grey-text text-darken-2">24</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div class="card horizontal productCard" (click)="navToProduct()">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/bananas.svg%25404x.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">TOTAL PRODUCT</p>
              <br>
              <p class="grey-text text-darken-2">2451</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/ic_Car%20invoice.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">TOTAL INVOICES</p>
              <br>
              <p class="grey-text text-darken-2">6451</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/gift-wrapper.svg%25404x.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">PROMOTIONS</p>
              <br>
              <p class="grey-text text-darken-2">3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
