<div class="wrapper">
  <div class="header">
    <h5>INVENTORY</h5>
  </div>
  <div class="content">
    <div class="row">
      <div class="col s12 l12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/tomato.svg%25404x.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">Tomato is approaching its expiration date.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/banana.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">Banana is running low.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img class="markImage" src="../../../assets/icons/melon-slice.svg%25404x.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="grey-text text-darken-2">Watermelon is running low.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
