<div class="wrapper">
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title teal-text text-lighten-1">Login to Supermarket System</span>
          <div class="divider"></div>
          <div class="row" style="margin-top: 30px;">
            <form [formGroup]="formModel" class="s12 m12 l12">
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="username" type="text" name="username" formControlName="username">
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="row" style="margin-top: -30px;">
                <div class="input-field col s12 m12 l12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" name="password" formControlName="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <a class="waves-effect waves-light btn" (click)="loginSubmit()">Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
