<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view row">
      <div class="background blue darken-1"></div>
      <div class="left"><img class="z-depth-2 userIcon circle" src="../../../assets/icons/user_default_image.png"></div>
      <!--<div class="user-info white-text">Soda</div>-->
      <!--<div class="user-info white-text">Type: Administrator</div>-->
      <!--<div class="user-info white-text">ID: 20154878</div>-->
      <div class="right">
        <span class="white-text name" style="font-size: 18px;">Soda</span>
        <span class="white-text name" style="font-size: 16px">Type: Administrator</span>
        <span class="white-text email" style="font-size: 16px">ID: 20154878</span>
      </div>
    </div>

  </li>
  <li> <a class="text blue-text text-darken-1"><img class="operateIcon" src="../../../assets/icons/cart-1.svg%25403x.png"> SALES RECORD</a></li>
  <li><a class="text blue-text text-darken-1"><img class="operateIcon" src="../../../assets/icons/avatar-4.svg%25404x.png"> MEMBERS</a></li>
  <li><a class="text blue-text text-darken-1"><img class="operateIcon" src="../../../assets/icons/bananas.svg%25404x.png"> PRODUCT INFORMATION</a></li>
  <li><a class="text blue-text text-darken-1"><img class="operateIcon" src="../../../assets/icons/cart-1.svg%25403x.png"> INVOICES</a></li>
  <li><a class="text blue-text text-darken-1"><img class="operateIcon" src="../../../assets/icons/gift-wrapper.svg%25404x.png"> PROMOTIONS</a></li>
  <li class="footer blue darken-1">
    <div class="row padding">
      <div class="col s6 m6 l6"><a class="text white-text"><img class="operateIcon" src="../../../assets/icons/setting.png"> SETTINGS</a></div>
      <div class="col s6 m6 l6"><a (click)="returnToLogin()" class="text white-text"><img class="operateIcon" src="../../../assets/icons/logout.png"> LOG OUT</a></div>
    </div>
  </li>
</ul>
