<div class="wrapper">
  <div class="header">
    <h5>FILTER</h5>
  </div>
  <div class="content">
    <div class="row">
      <div class="col s12 l12 m12">
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header">Barcode</div>
            <div class="collapsible-body">
              <input placeholder="barcode" id="barcode" type="text">
            </div>
          </li>
          <li>
            <div class="collapsible-header">Name</div>
            <div class="collapsible-body">
              <input placeholder="name" id="name" type="text">
            </div>
          </li>
          <li>
            <div class="collapsible-header">Price range</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6 m6 l6">
                  <input class="inline" placeholder="Min" id="min" type="number">
                </div>
                <div class="col s6 m6 l6">
                  <input class="inline" placeholder="Max" id="max" type="number">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Refundablity</div>
            <div class="collapsible-body">
              <p>
                <input type="checkbox" class="filled-in" id="refundable" checked="checked" />
                <label for="refundable">Refundable</label>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
